
.list_entry {
    margin: 5px;
    margin-top: 30px;
    padding: 4px;
}

.list_entry_header {
    margin-bottom: 7px;
    font-size: 120%;
    font-weight: bold;
}

.list_entry_picture {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.list_entry_description {
    padding: 10px;
    background: lightblue;
}

#page_navigation {
    text-align: center;
}

#page_navigation li {
    display: inline;
    list-style-type: none;
}

.active {
    background: lightblue;
}
