<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List of Online Courses</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'course_list_.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'no_highlight_link.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'pictures/favicon.ico' %}">

</head>

<body>
    <!--<div style="float: right; margin-right:20px">
        {{ user_atribs|safe }}
    </div>-->

    {% include 'user_line.html' %}

    <h2>Online Courses</h2>

    <div style="margin-right:40px">
        <!--<ul style="list-style-type:none;">-->
            {% for course in course_list %}
                <a class="no_highlight_link" href="{% url 'course' course.id %}">
                    <div class="list_entry">

                        <img class="list_entry_picture" src="{{ course.picture.url }}">
                        <div class="list_entry_header"> {{ course.name }} </div>
                        <!--<div class="list_entry_description">
                            <div style="float: right;"> {{ course.created.date }}</div>
                            <div>{{ course.description }}</div>
                        </div>-->

                    </div>
                </a>
            {% endfor %}
        <!--</ul>-->
    </div>

    {% if paginator.num_pages > 1 %}
        <ul id="page_navigation">
            {% if page_obj.has_previous %}
                <li><a href="{% url 'page' page_obj.previous_page_number %}">&larr;</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active">{{ i }}</li>
                {% else %}
                    <li><a href="{% url 'page' i %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="{% url 'page' page_obj.next_page_number %}">&rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}

</body>
</html>
