<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Course</title>

    {% load static %}
    <link rel="icon" type="image/ico" href="{% static 'pictures/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'course.css' %}">

</head>

<body>
    <div>
        <a href="/" class="link_btn" style="float:left">List</a>
    </div>

    {% include 'user_line.html' %}

    <div class="container">
        <table width="100%">
            <tr>
                <td width="300px">
                    <img class="picture" src="{{ course.picture.url }}">
                </td>
                <td valign="top">
                    <div>
                        <div class="date">{{ course.created.date }}</div>
                        <h1 style="margin-bottom:1px">{{ course.name }}</h1>
                        <h5 style="margin-top:1px; margin-bottom:30px;">by {{ course.User }}</h5>
                        <div>{{ course.description }}</div>
                    </div>
                </td>
            </tr>
            {% if course.User.id == user.id %}
                <tr><td>
                    <div>
                        <iframe frameborder="0" seamless src="{% url 'sub_usr_lst' course.id %}"></iframe>
                    </div>
                </td></tr>
            {% endif %}
        </table>
    </div>

    {% if user.is_authenticated and user.id != course.User_id %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="subscribe_block">
                {{ form.as_p }}
                <button type="submit" value="Update">Subscribe</button>
            </div>
        </form>
    {% endif %}
</body>